.body {
  background-color: #fafafa;
  box-sizing: border-box;
}
.loginpage_main {
  display: flex;
  margin-top: 59px;
  /* margin-left: -40px; */
  
}
.login_right{
     border: 1px solid #000;
     padding: 15px;

}
.loginpage_logo {
  width: 175px;
}
.loginpage_right_component {
  width: 350px;
 
  
  height: 457px;
  margin-top: 35px;
  text-align: center;
  background-color: #FFFFFF;
}
.loginpage_right_component > img {
  margin-bottom: 51px;
}
.loginpage_signin {
    margin-top: 51px;
}
.login_text{
  width: 258px;
  height: 36px;
  margin:5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding-left: 10px;
  border-radius: 5px;
}
.login_button {
  width: 275px;
  margin-top: 8px;
  height: 36px;
  border: .3px solid #0395f6;
  font-weight: bold;
  border-radius: 5px;
  background-color: #B2DFFC;
  color: #fff;
}
.login_ordiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.login_divdor{
    width: 115px;
    height: 1px;
    background-color: #dbdbdb;
    margin: 0 5px;
}
.login_fb{
    color: #385185;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
.login_fb img{
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.login_forget{
    font-size: 12px;
    font-weight: 14px;
    margin-top: 12px;
    align-items: center;
    cursor: pointer;
}
.signup_options{
    margin-top: 15px;
    border: 1px solid #000;
    padding: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.signup_options .signin span{
    color: #0095F6;
    font-weight: bold;
    cursor: pointer;
}
.get_app{
    display: flex;
    align-items: center;
    justify-content: center;
}
.get_app img{
    width: 130px;
    height: 38px;
    margin: 20px;
}